/* General Body Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: neon;
    src: url(https://dl.dropbox.com/s/df4zz9y6lmhocr9/England.otf?dl=0)
  }
/* Header Styles */
header {
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    justify-content: flex-start;
    align-items: center;
}
header .container{
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2px;
}
header .logo h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: white;
    font-family: neon;
    text-shadow: 0 0 5px #39ff14, 0 0 10px #39ff14, 0 0 20px #39ff14;
    animation: neon-flicker 1.5s infinite;
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    justify-content: flex-start;
    align-items: start;
}

header .logo p {
    font-size: 0.8rem;
}

/* Neon Animation */
@keyframes neon-flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow: 0 0 5px #ebf0ea, 0 0 10px #ebf0ea, 0 0 20px #ebf0ea;
    }
    20%, 24%, 55% {
        text-shadow: 0 0 2px#ebf0ea, 0 0 4px #ebf0ea, 0 0 8px #ebf0ea;
    }
}

/* Hero Section */
.register-hero {
    position: relative;
    background-color: black;
    color: white;
    padding: 80px 20px;
    flex-direction: column;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.register-hero #particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.register-hero .container {
    position: relative;
    z-index: 1;
    flex-direction: column;
}
.register-section {
    padding: 50px 20px;
    background-color: #fff;
    min-height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center content */
    text-align: center;
}

.register-section h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

/* Footer */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
}