*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
}
@font-face{
    font-family: neon;
    src: url(https://dl.dropbox.com/s/df4zz9y6lmhocr9/England.otf?dl=0)
  }
/* Header Styling */
header {
    background-color: black;
    color:  white;
    padding: 20px 0;
    border-bottom: 2px solid black;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

header .logo h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    margin-left: -50px;
    font-family:neon;
    color: white;
    text-shadow: 0 0 .5vh var(--lights), 0 0 .5vh var(--lights), 0 0 .5vh var(--lights), 0 0 .5vh var(--lights), 0 0 1vh var(--lights);
    animation: flicker 7s infinite;
    filter:brightness(1);
  }
  
  @keyframes flicker{
    9%{
    text-shadow: 0 0 .5vh var(--lights), 0 0 .5vh var(--lights), 0 0 .5vh var(--lights), 0 0 .5vh var(--lights), 0 0 1vh var(--lights);;
    filter:brightness(1)
    }
    10%{
      text-shadow:none;
     filter:brightness(.4);
    }
    11%{
    text-shadow: 0 0 .5vh var(--lights), 0 0 .5vh var(--lights), 0 0 .5vh var(--lights), 0 0 .5vh var(--lights), 0 0 1vh var(--lights);;
    filter:brightness(1)
    }
    12%{
      text-shadow:none;
     filter:brightness(.4);
    }
    13%{
    text-shadow: 0 0 .5vh var(--lights), 0 0 .5vh var(--lights), 0 0 .5vh var(--lights), 0 0 .5vh var(--lights), 0 0 1vh var(--lights);;
    filter:brightness(1)
    }
    66%{
    text-shadow: 0 0 .5vh var(--lights), 0 0 .5vh var(--lights), 0 0 .5vh var(--lights), 0 0 .5vh var(--lights), 0 0 1vh var(--lights);;
    filter:brightness(1)
    }
    67%{
      text-shadow:none;
     filter:brightness(.4);
    }
    75%{
      text-shadow:none;
     filter:brightness(.4);
    }
    76%{
    text-shadow: 0 0 .5vh var(--lights), 0 0 .5vh var(--lights), 0 0 .5vh var(--lights), 0 0 .5vh var(--lights), 0 0 1vh var(--lights);;
    filter:brightness(1)
    }
}

header .logo p {
    font-size: 0.8rem;
    margin-left: -50px;
}

nav .navbar-nav .nav-link {
    color: white;
    font-size: 1.2rem;
}

nav .navbar-nav .nav-link:hover {
    font-size: 1.5rem;
    color: grey;
}

/* Flexbox Container for Logo and Navbar */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Hero Section Styling: Black Background */
.hero {
    background-color: #000;
    color: white;
    padding: 80px 20px;
    background-image: url('../images/Black-Backgrounds-Desktop.jpg'); 
    opacity: 1;
    background-size: cover;
    background-position: center;
    height: 100vh; 
    
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

.hero h2, .hero p, .hero .btn {
    margin: 20px 0; /* Add space between the elements */
}

.hero h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    margin-bottom: 10px; /* Margin between the heading and paragraph */
}

.hero p {
    font-size: 1.2rem;
    margin-top: 10px; /* Margin between the paragraph and button */
}

.hero .btn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-top: 5px; /* Space between the heading and the button */
}

/* Features Section Styling: White Background */
#features {
    background-color: black;
    color: black;
    padding: 50px 20px;
    text-align: center;
    position: relative;
    height: 100vh;
    z-index: 2;
    flex-direction: row;
    justify-content: center;
    border: #fff 1px;


}

#features h2 {
    font-size: 2.5rem;
    margin-bottom: 60px;
    margin-top: 50px;
    z-index:3;
    color: #fff;
    position: relative;
    background-color: #000;
    border-radius: 8px;
    width: 50vh;
    display: flex;
    justify-content: center;
    justify-content: center;
    text-align: center;
    margin-left: 480px;
    
}

.features-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 30px;
    z-index: 2;
    border: #fff;
}

.feature {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    text-align: center;
    z-index: 2;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    
}

/* Contact Section */
#contact {
    background-color: black;
    text-align: center;
    padding: 50px 20px;
    color: #fff;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    height: 20%;
    position: relative;
    z-index: 2;

}
#particles-js {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

